


 <div class="mainpage">
    <div class="logo">
          <img src="luxe-logo.png">
        </div>

    <div class="mainCanvas">
      <h1>Hospitality your guests will remember.</h1>
        <div class="homeRow">
          <h4>Gives your guests the ability to schedule hotel amenities via Smartphones. See the list of all real-time requests on hotels calendar. Send guests check-in/service-requests information via Text and set it on their calendar.</h4>
        </div>
        <div class="mainNavi">
          <div class="navigator btn1">
            <%= form_tag '/signup' do %>
              <%= submit_tag raw("Register Your Hotel"), class: "btn btn-success" %>
            <% end %>
          </div>
          <div class="navigator">
            <%= form_tag '/login' do %>
              <%= submit_tag raw("Hotel Sign in"), class: "btn btn-success" %>
              <%#= button_to "Productos", login_path, method: :get %>
            <% end %>
          </div>
        </div>
        <div id="homefeatures">
            <div class="homeFeature">
              <%= image_tag "checklist-icon.png" %>
              <p>Log of all hotel service requests, Room Information and more.</p>
            </div>
            <div class="homeFeature">
              <%= image_tag "smartphone.png"%>
              <p>Send text notification with check-in details.</p>
            </div>
            <div class="homeFeature">
              <%= image_tag "reminder.png" %>
              <p>Send reminder to guests at their convenience.</p>
            </div>
            <div class="homeFeature">
              <%= image_tag "hotel.png", class: "icon", id: "icon-fix" %>
              <p>Features and Activities Overview.</p>
            </div>
          </div>
        </div>
      </div>


